<html lang="en">
  <%- include('./partials/head'); %>
  <body style="background-color: lightgray">
    <%- include('./partials/header'); %>
    <div class="container">
      <br />
      <h1>Cart</h1>
      <% if (user && body) { %> <% if (address) { %>
      <br />
      <label for="cambiardireccionentrega">Direcci贸n de entrega: </label>
      <input style="width: 50%" placeholder="<%= address %>" disabled />
      <button class="btn btn-primary" id="cambiardireccionentrega">
        Cambiar direcci贸n
      </button>
      <br />
      <br />
      <% } else { %>
      <br />
      <input
        class="form-control"
        type="text"
        style="width: 70%; display: inline"
        placeholder="No olvides agregar tu direcci贸n de entrega antes de comprar."
        name="cartaddress"
        id="cartaddress"
      />
      <button class="btn btn-primary" id="agregardireccionentrega">
        Agregar direcci贸n
      </button>
      <br />
      <br />
      <% }; %>
      <table class="table" style="background-color: black; color: white">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Picture</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">ATC</th>
            <th scope="col">RFC</th>
          </tr>
        </thead>
        <tbody id="productos" style="color: gray">
          <%- body %>
        </tbody>
      </table>
      <p style="text-align: end">Total: <strong><%= total %></strong></p>
      <form
        id="formdecompra"
        action="/cart"
        method="post"
        style="text-align: end"
      >
        <button type="submit" class="btn">Buy now</button>
      </form>
      <div style="padding: 0 0 16px 0; text-align: end">
        <input
          class="btn btn-secondary"
          id="clearcart"
          type="button"
          value="Clear all"
        />
      </div>
      <div style="padding: 0; text-align: end">
        <a href="/products" class="btn btn-primary">Keep adding...</a>
      </div>
      <% } else { %>
      <p>There is no data yet.</p>
      <div style="padding: 0">
        <a href="/products" class="btn btn-primary">Buy some shit...</a>
      </div>
      <% }; %>
    </div>
    <script src="/js/addtocart.js"></script>
    <%- include('./partials/footer'); %>
  </body>
</html>
